#about {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-inner {
    transform-style: preserve-3d;
    min-height: 80vh;
    width:80%;
    border-radius: 30px;
    padding: 3rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}