.about-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-inner {
    transform-style: preserve-3d;
    height: 60vh;
    width:80%;
    border-radius: 30px;
    padding: 3rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-main-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.about-main-content {
    display: flex;
    flex-direction:column;
    gap: 10px;
}

.about-content-title {
    font-size: 20px;
    font-weight: bold;
}