.header-section {
    position: fixed;
    z-index:9999;
    width: 100%;
}

.header-section a {
    text-decoration: none;
    color: var(--black);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(116, 99, 99, 0.1);
    backdrop-filter: blur(15px);
    padding: 10px;
}

.header-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-size:1.5rem;
}

.header-inner ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size:1.2rem;
}