.portfolio-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    padding-top: 100px;
}

.portfolio-title {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.portfolio-inner {
    display: grid;
    place-items: center;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.portfolio-inner a {
    color:var(--black);
    text-decoration: none;
    text-align: center;
}

.portfolio-card {
    width:80%;
    margin: 1rem;
    border-radius: 30px;
    padding: 2rem;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-align: center;
}

.portfolio-item-image-wrapper {
    width: 350px;
    height: 40vh;
}

.portfolio-item-image-wrapper img {
    object-fit: scale-down;
    opacity: 0.9;
}

.portfolio-item-title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 20px;
}

.portfolio-item-content {
    font-size:24px;
}